.product {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: center;
}

@media (max-width: 48rem) {
    .product {
        flex-direction: column;
    }
}

.product__description {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.distributions {
    display: flex;
    gap: .75rem;
    margin-top: .5rem;
}

.distribution-link {
    text-decoration: none;
}

.distribution-link--gitlab img {
    background: #000;
    border: .1rem solid #959595;
    border-radius: .38rem;
    box-sizing: border-box;
    padding: 0 1rem;
}

.footnotes {
    color: #808080;
    font-size: 1rem;
    padding: 0 1rem;
    margin: 3rem 0 0;
    text-align: center;
}

.footnotes p {
    margin: .5rem;
}
