<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} · {{ site.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#366db3" />
    <meta name="msapplication-TileColor" content="#366db3" />
    <meta name="theme-color" content="#366db3" />
    <link rel="stylesheet" href="/assets/css/main.css" />

    {% assign page_css = page.url | append: "styles.css" %}
    {% for file in site.static_files %}
      {% if file.path == page_css %}
        <link rel="stylesheet" href="{{ page_css }}" />
      {% endif %}
    {% endfor %}
  </head>
  <body>
    <header>
      <a href="/"><img src="/assets/images/logo.svg" alt="Logo" height="32" width="28" class="logo" /></a>
      <a href="/">Scott-Free Software</a>
    </header>

    {{ content }}
  </body>
</html>
